<div class="modal fade" id="myModal123" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header views">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Join StyleWrite!</h4>
      </div>
      <div class="modal-body">
        <h1>Join StyleWrite!</h1>

        <%= form_for User.new do |f| %>

        <p>
          <%= f.label :username %>
          <%= f.text_field :username %>
        </p>

        <p>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </p>

        <p>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </p>

        <p>
          <div class="logger"> <%= f.submit 'Sign Up', :id =>'Login'%></div>
        </p>
        <% end %>

      </div>
    </div>
  </div>
</div>
