<!-- Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Insert Document</h4>
      </div>
      <div class="modal-body">
        <%= form_for new_document do |form| %>
          <% if new_document.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(new_document.errors.count, "error") %> prohibited this document from being saved:</h2>

              <ul>
              <% new_document.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :title %>
            <%= form.text_field :title, id: :document_title %>
          </div>

          <div class="field">
            <%= form.label :content %>
            <%= form.text_area :content, id: :document_content %>
          </div>

          <div class="actions">
            <%= form.submit 'Stylize'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
