<% content_for :body_class, 'class1' %>

<nav class="navbar navbar-default doc-navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag("StyleWrite.png", width: "255",id: "logo") %>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <ul class="nav navbar-nav"> </ul> -->
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav"> </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" name="button" id="Login"> <%= link_to 'Log out', logout_path, :id=>"willy" %></button></li>
      </ul>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h1 class="welcome-back">Welcome back, <%= @user.username.capitalize %>!</h1>

<div class="container">
  <div class="col-sm-6" style="padding: 0; margin-bottom: 20px;">
    <input type="text" class="form-control" id="myInput" onkeyup="search()" placeholder="Search for title.." title="Type in a name">
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary style-button"<%= link_to 'Stylize Document', '#', :'data-toggle'=>"modal", :'data-target'=>"#documentModal" %></button>
  </div>
  <table class="table-condensed table-hover col-xs-12 welcome-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <tbody id="mytb">
    <% @documents.each do |document| %>
      <tr class="welcome-row">
        <td><%= document.title %></td>
        <% if document.content.length > 75 %>
          <td><%= document.content[0,75] %>...</td>
        <% else %>
          <td><%= document.content %></td>
        <% end %>
        <td><button class="btn btn-outline btn-show"><%= link_to 'Show', document_path(document) %></button></td>
        <td><button class="btn btn-outline btn-danger"><%= link_to 'Delete', document_path(document), method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
      <%= render partial: 'show', locals: { document: document} %>
    <% end %>
  </tbody>
</table>

<br>


<%= render partial: 'form', locals: {user: @user, new_document: @new_document} %>
