<% content_for :body_class, 'class1' %>

<nav class="navbar navbar-default doc-navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag("StyleWryte.png", width: "100",id: "logo") %>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <ul class="nav navbar-nav"> </ul> -->
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav"> </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Back', documents_path %></li>
        <li><%= link_to 'Log out', logout_path %></li>
      </ul>
    </div>
  </div>
</nav>

<% tips = @document.review %>
<% doc = @document.content %>

<div class="boxes">
  <div id="left">
    <h2> Document </h2>
    <div class="left-box">
    <% if !(tips.nil?) %>
     <% tips.keys.each do |tip| %>
       <% if doc.include?(tip) %>
         <% id = tip.gsub(/\s/, '') %>
         <% doc.sub!(tip, "<mark class='doc' id='#{id}'>#{tip}</mark>") %>
       <% end %>
     <% end %>
     <% @str = doc.html_safe %>
     <article> <%= @str %> </article>
    <% else %>
      <article><%= @document.content %>
    <% end %>
    </div>
  </div>

  <div id="right">

    <h2> Tips </h2>
    <div class="right-box">
    <ul id="list">
    <% if !(tips.nil?) %>
     <% tips.keys.each do |tip| %>

       <% @insert = "<li><p class='tip' id='#{tip.gsub(/\s/, '')}'> #{tip.upcase} : <br> #{ tips[tip]} </p></li>" %>
       <%= @insert.html_safe %>
       <br>
     <% end %>
    <% else %>
     <p> Nothing To See Here! </p>
    <% end %>
    </ul>
    </div>
  </div>
</div>
